body {
	background-color: #333333;
}

[class*="col-"] {
	background-color: #fff;
  	line-height: 40px;
  	text-align: center;
  	margin-bottom: 15px;
}

.navbar-inverse {
	background-color: #1d1d1d;
}

nav.navbar-fixed-bottom {
	position: relative;
}

.footerbg {
	background-color: #262626;
}

.footerbg h1{
	color: #fff;
}

.container1 {
	margin-top: 50px;
	min-height: 60vh;
}

.playerList::before {
	font-weight: bold;
	content: " / ";
}

.red {
	color: #d9534f;
}